.root {
  justify-content: center;
}

.card {
  margin-bottom: 1.6rem;
}

.cardTitle {
  position: relative;
  font-size: 1.6rem;
  padding-bottom: 1rem;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.4rem;
    border-bottom: 1px solid #ccc;
  }

}

.historyBtn {
  margin-top: 0.5rem;
}
.editBtn {
  width: 5rem;
  height: 2.4rem;
  padding: 0 !important;
  > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.textarea {
  border: 0;
  resize: none;
}

